@keyframes waveAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.3333%);
    }
}

#rasterMapPlaceholder {
    transition: padding-left 0.5s ease-in-out, transform 1.5s ease-in-out; 
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100vw;
    z-index: -3;
    overflow: hidden; 
    display: block; 
    height: 100vh;
}

@media screen and (max-width: 1000px) {
    #rasterMapPlaceholder {
        display: none;
    }
}

#rasterMapPlaceholder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(0,0,0,0) 30%, rgba(0,0,0,0.85) 100%);
    z-index: 3;
}

.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    z-index: 1;
}

.wave-repeater {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transform: translateY(-1000px);
    z-index: 1;
    animation: waveAnimation linear infinite;
    will-change: transform;
    display: flex;
}

.wave-svg {
    width: 33.3333%;
    height: 100%;
}


#wave1-container {
    animation-duration: 3s;
}

#wave2-container {
    animation-duration: 7s;
}

#wave3-container {
    z-index: 2;
    animation-duration: 5s;
}

.default-theme circle,
.default-theme path {
    fill: attr(data-default-color);
}

.alternate-theme circle {
    fill: attr(data-alternate-color);
}

.alternate-theme path {
    fill: attr(data-alternate-color);
}

main {
    width: 900px;
    display: flex;
}