

        /* Container for the main button */
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Styling for the button */
        .modal-warn-content button {
            padding: 12px 24px;
            border: none;
            border-radius: var(--border-radius);
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            transition: var(--transition);
            box-shadow: var(--shadow);
            background-color: var(--sec-color);
            color: var(--white);
        }

        .modal-warn-content button:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        }

        /* Styling for the modal overlay, which covers the entire screen */
        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            z-index: 1000;
        }

        /* Hidden class to control visibility with JavaScript */
        .modal-overlay.hidden {
            opacity: 0;
            pointer-events: none; /* Disables clicks when hidden */
        }

        /* Styling for the modal content box */
        .modal-warn-content {
            background-color: var(--green);
            color: var(--sec-color);
            border-radius: var(--border-radius);
            box-shadow: var(--shadow);
            text-align: center;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }

        /* Class for the large modal's size */
        .modal-large .modal-content {
            width: 500px;
            height: 500px;
        }

        .modal-content p {
            font-size: 1.25rem;
            font-weight: bold;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .modal-warn-content .modal-buttons {
            display: flex;
            justify-content: space-around;
            gap: 10px;
        }

        .modal-warn-content .modal-buttons button {
            background-color: var(--sec-color-2);
            color: var(--white);
            flex-grow: 1;
        }

        .hidden {
            display: none;
        }