# System-specific files
.DS_Store

# Directories for github to ignore
/lib/
/config/
/con/
/thumb/
/md/
/game/

# Redirects
characters.html

# Other (Project Note files)

rep.txt
faq.txt

_headers

blackjack.html
/js/blackjack/
/json/blackjack/