.sitemap {
    padding:20px;
    text-wrap:wrap;
    width:100%;
}

.sitemap-section {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sitemap-section li {
    margin-bottom: 10px;
}

li:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease-in;
}