#prologueWrapper p {
    margin-bottom: 20px;
}

#prologueWrapper {
    margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers items vertically if flex-direction is column */
  /* Remove align-content: center; as it's not the correct property for centering a single child horizontally */
  align-items: center; /* **NEW/CHANGED:** Centers flex items (the .character-markdown) horizontally in a column layout */
  width: 100%;
}

.character-markdown {
    background-color: var(--sec-color);
    border: 1px solid var(--sec-color-2);
    border-radius: var(--border-radius);
    padding: 24px;
    margin-bottom: 40px;
    font-size: 1.3em;
    line-height: 1.6em;    margin-left: auto;
    margin-right: auto; 
    max-width: 600px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

h2, h3 {
    color: var(--green);
}

ul {
    margin-left: 20px;
}

  /* Media query for mobile view */
  @media (max-width: 600px) {
    .character-markdown {
        background-color: var(--bg-color);
    }

  }