.map-container .us-map {
    width: 100%;
    height: auto;
    border: 2px solid #333; /* Add border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 8px; /* Add rounded corners */
}

.map-container svg {
    width: 100%;
    height: auto;
    margin: 20px; /* Add margin */
}

#FL,
#GA, #TN,
#AL {
    opacity: 1; /* Full opacity */
}

path {
    fill: #a34848 !important; /* Default fill for other states */
    opacity: 0.3;
    transition: fill 0.3s ease; /* Transition for fill */
}

path:hover {
    transform: scale(1.05);
    transform-origin: center; /* Or specify x y coordinates like 50% 50% */
    transition: transform 0.3s ease;
    fill: #ff6f61 !important; /* Change color on hover */
}
