.map-container {
    padding: 20px;
    width: 500px;
    border-radius: 10px;
}

.map-container svg {
    width: 100%;
    height: auto;
}

#FL, #GA, #TN, #AL {
    opacity: 1;
}

.map-container path {
    fill: #a34848 !important;
    opacity: 0.3;
    transition: fill 0.3s ease;
}

.map-container path:hover {
    transition: transform 0.3s ease;
    fill: #ff6f61 !important;
}