body {
    background-color: rgb(16, 7, 7);
}

main {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Media query for larger devices (desktops) */
@media (min-width: 531px) {
    main {
        max-width: 80vw;
    }
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
}

.profile-card, .index-card, .history-card, .workshop-card {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    animation: fadeInRight 0.5s ease-out forwards;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FDDA0D;
    gap: 15px;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card .info {
    align-self: flex-start;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.profile-card .details {
    align-self: flex-end;
    margin-top: auto;
    color: #ddd;
    font-size: 14px;
    text-align: right;
}

.profile-card .detail-item {
    opacity: 0.9;
}

.index-card, .history-card {
    display: inline-block;
}

.index-card .header, .history-card .header, .workshop-card .header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
    color: #FDDA0D;
    font-weight: bold;
}

.index-card .item, .history-card .item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
}

.index-card .item span, .history-card .item span {
    color: #ddd;
}

.history-card img {
    transition: transform 0.3s ease;
}

.travel-card {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

hr {
    margin-top: 10px;
    border: 0;
    height: 1px;
    background: #ffffff;
}

.workshop-card {
    width: 400px;
    height: auto; /* Adjust height if needed */
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; /* Adds padding at the bottom inside the card */
}

.description {
    color: white;
    opacity: 0.8;
    padding: 10px;
}

.mat-description-div {
    padding: 10px;
    color: white;
    opacity: 0.7;
}

.material-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 10px; /* Adds margin at the bottom outside the list */
}

.material-list span {
    margin-top: auto; /* Aligns span elements to the bottom */
    border-radius: 10px;
    background-color: rgb(0, 242, 255);
    opacity: 0.9;
    padding: 10px;
    cursor: pointer;
    color: black;
    box-shadow: 0 0 10px #000000;
    text-align: center;
}

.material-list span:hover {
    opacity: 0.5;
    transition: 0.3s opacity;
}



@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}